# Testing
pytest
pytest-cov
pytest-benchmark
psutil  # For memory tests

# Documentation
sphinx
sphinx-rtd-theme
furo
myst-parser
sphinx-autodoc-typehints

# Code Quality
black
isort
flake8
mypy
typing-extensions  # For Python 3.8 compatibility

# Development
ipython
jupyter
pre-commit
maturin
tqdm
matplotlib
numpy
ipykernel  # For notebook development

# Build
build
twine
